@import 'tailwindcss';

@layer utilities {
  /* 제목 */
  .text-t1-sb {
    font-size: 28px;
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-t2-bd {
    font-size: 26px;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t3-bd {
    font-size: 20px;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t4-bd {
    font-size: 18px;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t5-bd {
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .text-t6-sb {
    font-size: 14px;
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  /* 문단, 목룍, 표 등 */
  .text-b1-rg {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-b2-rg {
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-b3-md {
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-b3-rg {
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-cap1-md {
    font-size: 13px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-cap1-rg {
    font-size: 13px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-cap2-md {
    font-size: 12px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  .text-cap2-rg {
    font-size: 12px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  .text-cap3-rg {
    font-size: 11px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  /* 버튼 */
  .text-bt1-sb {
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-bt2-sb {
    font-size: 14px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .text-bt3-sb {
    font-size: 13px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -0.02em;
  }
}
