@import 'tailwindcss';

:root {
  --gnb-top-height: var(--spacing-60pxr);
  --tab-height: var(--spacing-56pxr);

  /* ai-meeting-manager */
  --meeting-header-height: var(--spacing-104pxr);
}

@layer utilities {
  .assistant-wrapper {
    padding-left: var(--spacing-85pxr);
    padding-right: var(--spacing-85pxr);
  }
}
